.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.testdeps/
.coverage

.env
temp/*
!temp/.gitkeep
logs/*
!logs/.gitkeep
models/*
!models/.gitkeep
!models/whisper/
models/whisper/*
!models/whisper/.gitkeep
bin/*
!bin/.gitkeep
!bin/whisper/
bin/whisper/*
!bin/whisper/.gitkeep
output/*
!output/.gitkeep

.vscode/
.DS_Store
